/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: $white;
$secondary: $primary;
$ternary: #999696;
$ternary2:#D3A5F3;
$border: #4D4D4D;
$gray: #373737;
$accent: #A231F3;
$yellow: #F2B444;
